Repository woocommerce/action-scheduler, pull requests merged in 2020-09, with the labels that each got.

#581 add is_initialized() to docs
  docs/api.md
Labels: status: needs review

#596 Fix #589: Add check that function add_action() exists
  action-scheduler.php
Labels: bug, regression, status: needs review

#618 add WP CLI version subcommand
  classes/WP_CLI/ActionScheduler_WPCLI_Scheduler_command.php
Labels: component: wp-cli, enhancement, status: approved

#604 Change relative include paths to absolute include paths
  action-scheduler.php
  classes/abstracts/ActionScheduler.php
  tests/bootstrap.php
Labels: component: action scheduler, priority: high, status: needs review
